<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<br><br><h2>Images</h2>
<hr> 
<div> 
    <form action="/images" method="POST" enctype="multipart/form-data"> 
    <label >Upload Image</label>
    <input type="file" id="image"  name="image" value="" required> 
    </label><br>
            <button type="submit">Submit</button> 
        </div> 
    </form> 
</div> 
<hr> 

<h1>Uploaded Images</h1> 
<div> 
    <% items.forEach(function(image) { %> 
    <div> 
        <div> 
            <img src="data:image/<%=image.img.contentType%>;base64, 
                 <%=image.img.data.toString('base64')%>"> 
        </div> 
    </div> 
    <% }) %> 
</div> 

</body>
</html>