<%- include('../partials/header') %>
<h1>Upload Dupes</h1> 
    <hr> 
    <div> 
        <form action="/products/<%= product._id %>/dupes" method="POST" enctype="multipart/form-data"> 
            <label>Name:
                <input type="text" name="name">
            </label><br>
            <label>Price:
                <input type="text" name="price">
            </label><br>
            <label >upload dupes</label>
                <input type="file" id="image"  name="image" value="" required> 
            </label><br>
                <button type="submit">Submit</button> 
        </form> 
    </div> 
<%- include('../partials/footer') %>