<%- include('../partials/header') %>

<h2>Enter a New Product</h2>
<form action="/products" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Brand:
    <input type="text" name="brand">
  </label><br>
  <label>Description:
    <input type="text" name="description">
  </label><br>
  <label>Category:
    <select name="category">
      <option value="face">Face</option>
      <option value="lips">Lips</option>
      <option value="cheeks">Cheeks</option>
      <option value="eyes">Eyes</option>
    </select>
  </label><br>
  <label>Colour:
    <input type="text" name="colour">
  </label><br>
  <label>Price:
    <input type="text" name="price">
  </label><br>
  <label>Ratings:
    <select name="rating">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </label><br>
  <input type="submit" value="Add Product">
</form>


<%- include('../partials/footer') %>