<%- include('../partials/header') %>

<!-- <h2>Enter a New Product</h2>
<form action="/products" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Brand:
    <input type="text" name="brand">
  </label><br>
  <label>Description:
    <input type="text" name="description">
  </label><br>
  <label>Category:
    <select name="category">
      <option value="face">Face</option>
      <option value="lips">Lips</option>
      <option value="cheeks">Cheeks</option>
      <option value="eyes">Eyes</option>
    </select>
  </label><br>
  <label>Colour:
    <input type="text" name="colour">
  </label><br>
  <label>Price:
    <input type="text" name="price">
  </label><br>
  <label>Ratings:
    <select name="rating">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </label><br>
  <input type="submit" value="Add Product">
</form> -->

<div class="modal fade" id="modalRegisterForm3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Add Image</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="/products" method="POST">
    <div class="modal-body mx-3">
      <div class="md-form mb-4">
        <i class="fas fa-camera prefix grey-text"></i>
        <input type="file" name="image" value="" class='form-control'>
        <label data-error="wrong" data-success="right" for="form29"></label>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-deep-orange" type="submit">Submit</button>
    </div>
  </div>
</div>
</div>
</form> 



<%- include('../partials/footer') %>